<div id="<%= dom_id student %>">


  <tr>
    <td><%= student.indeks %></td>
    <td><%= student.imie %></td>
    <td><%= student.nazwisko %></td>
    <td><%= student.group.nazwa %></td>
    <td></td>
  </tr>


</div>
