<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <tr>
    <td><%= form.text_field :nazwa %></td>
    <td><%= form.number_field :semestr %></td>
    <td></td>
    <td></td>
    <td> <%= form.submit class: "btn btn-primary" %></td>
  </tr>
  <tr>
    <td colspan="5">

      <%= form.collection_check_boxes :course_ids, Course.all, :id, :nazwa, {}, {class: "form-check form-check-inline"}  %>
    </td>
  </tr>



<% end %>
