

  <tr>
    <td><%= group.nazwa %></td>
    <td><%= group.semestr %></td>
    <td><% group.students.each do |s| %>
        <%= s.indeks %> <%= s.imie %> <%= s.nazwisko %><br>
      <% end %></td>
    <td><% group.courses.each do |c| %>
        <%= c.nazwa %>
      <% end %></td>
    <td></td>

  </tr>

